body {
  padding-top: 50px;
  width:1080px;
  margin: auto;
}

table { 
   margin:10px auto; 
   border-collapse:collapse; 
   border:1px solid gray; 
}
		
td,th { 
   border:1px solid gray; 
   text-align:left; 
   padding:20px; 
}
		
